<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Image Gallery</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css">
</head>
<body>
    <br>
    <h1 class="text-center">Image Gallery</h1>
    <br>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th th:text="No."/>
                <th th:text="Foto"/>
            </tr>
        </thead>
        <tbody>
            <tr th:each="image: ${images}">
                <td th:text="${image.order_number}"/>
                <td><img class="img-fluid" style="max-width: 500px" th:src="${'data:image/jpeg;base64,'+ image.generateBase64Image()}" alt=""></td>
            </tr>
        </tbody>
    </table>

</body>
</html>